<!-- templates/agendamento_form.html -->
{% extends 'base.html' %}

{% block title %}Agendar Serviço{% endblock %}

{% block content %}
<div class="container">
    <h1>Agendar Serviço</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_profissional">Profissional:</label>
            {{ form.profissional }}
        </div>
        <div class="form-group">
            <label for="id_data">Data:</label>
            <div>
                {% for value, label in form.data.field.choices %}
                <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('id_data').value='{{ value }}'">{{ label }}</button>
                {% endfor %}
            </div>
            {{ form.data }}
        </div>
        <div class="form-group">
            <label for="id_horario">Horário:</label>
            <div>
                {% for value, label in form.horario.field.choices %}
                <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('id_horario').value='{{ value }}'">{{ label }}</button>
                {% endfor %}
            </div>
            {{ form.horario }}
        </div>
        <button type="submit" class="btn btn-primary">Agendar</button>
    </form>
    <a href="{% url 'agendamento_list' %}" class="btn btn-secondary">Voltar para a lista de agendamentos</a>
</div>
{% endblock %}