{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Dias de Funcionamento{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de Dias de Funcionamento</h1>
    
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for dia in dias %}
            <tr>
                <td>{{ dia.data }}</td>
                <td>
                    <a href="{% url 'dia_funcionamento_update' dia.pk %}">Editar</a>
                    <a href="{% url 'dia_funcionamento_delete' dia.pk %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'dia_funcionamento_add' %}" class="btn btn-primary">Adicionar Dia</a>
</div>
{% endblock %}