{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Horários de Funcionamento{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de Horários de Funcionamento</h1>
    
    <table>
        <thead>
            <tr>
                <th>Dia da Semana</th>
                <th>Hora de Início</th>
                <th>Hora de Término</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in horarios %}
            <tr>
                <td>{{ horario.dia.get_dia_display }}</td>
                <td>{{ horario.horario_inicio }}</td>
                <td>{{ horario.horario_fim }}</td>
                <td>
                    <a href="{% url 'horario_funcionamento_update' horario.pk %}">Editar</a>
                    <a href="{% url 'horario_funcionamento_delete' horario.pk %}">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum horário de funcionamento encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'horario_funcionamento_add' %}" class="btn btn-primary">Adicionar Horário</a>
</div>
{% endblock %}